
//toolbar
.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
}

//home
.card-home{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
}
.card-class{
    width: 350px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}